<template>
  <base-container class="success-container">
    <a-card class="card">
      <section class="t-al-center">
        <img src="~/assets/icons/check-circle-solid.svg" width="60" height="60">
        <div class="pd-t-20px cl-primary">
          <div>ยินดีด้วย !</div>
          <div>
            การเปิดประมูลสินค้า {{ userAuction && userAuction.farm.fruitBreed && userAuction.farm.fruitBreed.fruitType && userAuction.farm.fruitBreed.fruitType.name }},
            สายพันธุ์ {{ userAuction && userAuction.farm.fruitBreed && userAuction.farm.fruitBreed.name }}
            จาก {{ userAuction.farm.name }}, {{ userAuction.farm.province.th }} สำเร็จ
          </div>
          <div>รหัสการประมูล {{ userAuction.code }}</div>
        </div>
        <auction-price
          :price-start="userAuction.priceStart"
          :user="user"
          preview
        />
        <div class="dp-flex al-it-center jtf-ct-center">
          <div class="t-al-center">
            <label class="title">วันที่เปิดประมูล</label>
            <a-form class="form">
              <a-form-item>
                <p class="t-al-center f-w-500 cl-primary">
                  {{ require('moment')(userAuction.dateTimeStart).format('YYYY-MM-DD') }}
                </p>
              </a-form-item>
            </a-form>
          </div>
          <div class="t-al-center">
            <p style="margin: 0 10px;">
              ~
            </p>
          </div>
          <div class="t-al-center">
            <label class="title">วันที่ปิดประมูล</label>
            <a-form class="form">
              <a-form-item>
                <p class="t-al-center f-w-500 cl-primary">
                  {{ require('moment')(userAuction.dateTimeEnd).format('YYYY-MM-DD') }}
                </p>
              </a-form-item>
            </a-form>
          </div>
        </div>
        <div class="t-al-center">
          <nuxt-link
            tag="button"
            type="button"
            class="oa-button is-primary ant-btn ant-btn-default"
            to="/auction"
          >
            กลับไปที่หน้าหลัก
          </nuxt-link>
        </div>
      </section>
    </a-card>
  </base-container>
</template>

<script>
import { get } from 'vuex-pathify'
import AuctionPrice from '~/components/auction-page/open/auction-price'

export default {
  name: 'AuctionOpenSuccessPage',
  layout: 'gray-background',
  middleware: ['authenticated', 'created-user-auction'],
  components: {
    AuctionPrice
  },
  data () {
    return {
      links: [
        {
          'title': 'เปิดประมูลสินค้า',
          'link': ''
        }
      ]
    }
  },
  computed: {
    userAuction: get('auction/userAuction'),
    user: get('auth/user')
  },
  async fetch ({ store }) {
    try {
      await store.dispatch(
        'auction/fetchUserAuctionById',
        store.state.auction.createUserAuctionResult.id
      )
      // await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  }
}
</script>

<style lang="less" scoped>
.success {
  &-container {
    padding-top: 73px;
  }
}
</style>
